<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="PHS NuGet" value="http://dev.phs.corptest.aglrsc.com/nuget/nuget" />
    <add key="NuGetv3" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>